// variables.scss
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
// Colors
$primary-color: #4f7df3;
$secondary-color: #c2d3ff;
$accent-color: #ff5263;
$gray-color: #969696;
$font-color: #151f29;

// Font sizes
$small: 14px;
$base: 16px;
$large: 20px;

//Font family
$primary-font: 'Libre Franklin', sans-serif;

// Breakpoints
$mobile-width: 768px;
